{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Django Homework
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bboard/css/style.css' %}">
</head>
<body>

{% block base %}

{% block navbar %}
<nav>
    <div class="nav-container">
        <h2>Django Homework</h2>
        <div>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'todos' %}">API данные</a>
        </div>
    </div>
</nav>
{% endblock %}

<main>
    {% block main %}
    {% endblock %}
</main>

{% block footer %}
<footer>
    <p>Django Homework — STEP Academy</p>
</footer>
{% endblock %}

{% endblock %}

</body>
</html>
