{% extends 'bboard/base.html' %}

{% block title %}
API данные
{% endblock %}

{% block main %}
<div class="container">
    <h1>Данные из Fake API</h1>

    <div class="todos">
        {% for todo in todos %}
        <div class="card">
            <h3>{{ todo.title }}</h3>
            <p>ID: {{ todo.id }}</p>

            {% if todo.completed %}
                <p>Статус: выполнено</p>
            {% else %}
                <p>Статус: не выполнено</p>
            {% endif %}
        </div>
        {% empty %}
        <p>Нет данных</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
